---
layout: page
title: "Gallery"
description: "A collection of my creative works"
header-img: "img/lost.png"
---

<div class="wrapper">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>
        </div>
    </div>

    {% assign catalogs = site.static_files | where_exp: "file", "file.path contains '/gallery/'" | group_by_exp: "file", "file.path | split: '/' | slice: 2 | first" %}
    
    {% for catalog in catalogs %}
    {% unless catalog.name == "" or catalog.name contains "." %}
    <div class="catalog-section">
        <h2 class="catalog-title">{{ catalog.name | capitalize }}</h2>
        <div class="masonry-gallery gallery">
            {% assign albums = site.static_files | where_exp: "file", "file.path contains '/gallery/'" | where_exp: "file", "file.path contains catalog.name" | group_by_exp: "file", "file.path | split: '/' | slice: 3 | first" %}
            
            {% for album in albums %}
            {% unless album.name == "" or album.name contains "." %}
            {% assign first_image = site.static_files | where_exp: "file", "file.path contains album.name" | where_exp: "file", "file.path contains '.jpg' or file.path contains '.png'" | first %}
            {% if first_image %}
            <div class="gallery-item col-3">
                <div class="gallery-icon">
                    <a href="{{ site.baseurl }}/gallery/{{ catalog.name }}/{{ album.name }}/">
                        <img src="{{ site.baseurl }}{{ first_image.path }}" alt="{{ album.name | replace: '_', ' ' | capitalize }}">
                    </a>
                </div>
                <figcaption class="gallery-caption">
                    <div class="entry-summary">
                        <h3>{{ album.name | replace: '_', ' ' | capitalize }}</h3>
                    </div>
                </figcaption>
            </div>
            {% endif %}
            {% endunless %}
            {% endfor %}
        </div>
    </div>
    {% endunless %}
    {% endfor %}
</div>

<!-- jQuery -->    
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<!-- Initialize masonry -->
<script>
$(window).load(function() {
    $('.masonry-gallery').each(function() {
        $(this).isotope({
            itemSelector: '.gallery-item',
            masonry: {
                columnWidth: '.gallery-item'
            }
        });
    });
});
</script>

<style>
.catalog-section {
    margin-bottom: 4em;
}

.catalog-title {
    text-align: left;
    margin: 2em 0 1em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #eee;
}

.gallery-caption {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-caption h3 {
    margin: 0;
    color: white;
}

.masonry-gallery .gallery-item {
    margin-bottom: 2em;
}

.gallery-icon img {
    width: 100%;
    height: auto;
    display: block;
}
</style>
